.container {
    width: 200px;
    height: 300px;
    border: 1px solid grey;
}

.item {
    width: 90%;
    height: 35px;
    background: orange;
    margin: 18px 9px;
    text-align: center;
    padding: 5px 0 0 0;
    cursor: pointer;
}

.item p {
    margin: 0;
    font-size: 14px; 
}

.item:hover {
    background: rgb(255, 102, 0);
}